RewriteEngine On
RewriteRule ^$ wss://ws.sgc-consultores.com.ve:50000/ [P,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ wss://ws.sgc-consultores.com.ve:50000/$1 [P,L]